body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.main {
    display: none;
    grid-template-columns: 1fr 10fr 30fr;
    height: 100vh;
}