.login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 23, 23);
    height: 100vh;
    row-gap: 20px;
}

.username, .password {
    height: 25px;
    width: 200px;
    border: 5px solid rgb(68, 63, 63);
    border-radius: 12px;
    padding: 2px 10px;
}

.login-button, .signup-button {
    width: 200px;
    border: 5px solid rgb(68, 63, 63);
    border-radius: 12px;
    padding: 2px 10px;
}

.login-button:hover, .signup-button:hover {
    background-color: rgb(122, 120, 120);
}

.login-button:active, .signup-button:active {
    background-color: rgb(161, 156, 156);
}