.sidebar-section {
    background-color: rgb(22, 23, 23);
    width: 100%;
}

.sidebar-button {
    aspect-ratio: 1/1;
    width: 100%;
}

.sidebar-image {
    width: 100%;
}

.sidebar-image:hover {
    cursor: pointer;
}