.chat-container {
    background-color: rgb(22, 23, 23);
    color: white;
    display: grid;
    grid-template-rows: auto 1fr 70px;
    height: 100%;
    min-height: 0;
}

.chat-header {
    display: grid;
    grid-template-columns: 1fr 15fr 3fr;
    align-items: center;
    padding: 5px 10px;
}

.chat-icon {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.chat-details {
    line-height: 24px;
    padding-bottom: 6px;
}

.chat-name {
    color: white;
    font-weight: 550;
    font-size: 16px;
}

.chat-last-seen {
    color: gray;
    font-size: 14px;
}

.chat-functions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chat-messages-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 20px 0;
}

.chat-message {
    border: solid 3px gray;
    border-radius: 12px;
    font-size: 14px;
    line-height: 14px;
    max-width: 70%;
    word-wrap: break-word;
    margin: 0 10vw;
    padding: 10px;
}

.chat-message.received {
    align-self: flex-start;
    background-color: rgb(63, 68, 68);
    border-bottom-left-radius: 4px;
}

.chat-message.sent {
    align-self: flex-end;
    background-color: rgb(0, 132, 255);
    border-bottom-right-radius: 4px;
}

.chat-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 11fr 1fr;
    width: 90%;
    justify-self: center;
    background-color: gray;
    margin-bottom: 10px;
    border: solid 5px rgb(73, 72, 72);
    border-radius: 50px;
}

.chat-input-icon-container {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.chat-input-icon {
    height: 50px; 
    aspect-ratio: 1/1;
}

.chat-input {
    background-color: gray;
    color: white;
    padding: 0 10px;
    border: none;
    outline: none;
}

.chat-input::placeholder {
    color: white;
}