.contacts-section {
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: rgb(22, 23, 23);
    border-right: 2px solid gray;
    height: 100%;
}

.contacts-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    padding: 50px 10px;
    align-content: start;
}

.contacts-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
}

.contacts-search {
    background-color: rgb(22, 23, 23);
    border: 3px solid gray;
    border-radius: 30px;
    box-shadow: none;
    width: 80%;
    padding: 0px 10px;
    color: white;
    height: 100%;
}

.contact {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    column-gap: 10px;
    height: 50px;
    border-radius: 10px;
}

.contact.selected {
    background-color: rgb(63, 68, 68);
}

.contact:hover {
    background-color: rgb(63, 68, 68);
}

.contact-pfp {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.contact-name-container {
    color: white;
    display: inline;
}

.contact-last-message-container {
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}

.contact-last-seen-container{
    color: gray;
    font-size: 14px;
}

