body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}